<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CONTACTS</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-row>
      <ion-col col-2 style="padding-left: 10px">
        <button block style="background:transparent;" (click)="OpenFiltersModal()">
          <img src="../../assets/imgs/filter.png"/>
          <div class="subheader-icon-txt">Filters</div>
        </button>
      </ion-col>
      <ion-col col-2 style="padding-left: 10px">
        <button block style="background:transparent;" (click)="AddNewContactModal()">
          <img src="../../assets/imgs/new.png"/>
          <div class="subheader-icon-txt">New</div>
        </button>
      </ion-col>
      <ion-col col-2>
      </ion-col>
      <ion-col col-4>
        <ion-item class="item-has-input search-filter">
          <ion-input clearInput type="text" text-left placeholder="Search Contact"></ion-input>
          <ion-label item-right class="align-right label-img"><ion-icon name="search"></ion-icon></ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
    <ion-col col-md-4 *ngFor="let con of contacts">
      <ion-card>
        <ion-card-header>
          <h2><b>{{con.name}}</b></h2>
          <p><span>{{con.job_title}}</span><span *ngIf="con.department!=null"> | {{con.department}}</span></p>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col col-12 *ngIf="con.email!=null"><ion-icon name="mail"></ion-icon><span class="contacts-content">{{con.email}}</span></ion-col>
            <ion-col col-12 *ngIf="con.email==null"><ion-icon name="mail"></ion-icon><span class="contacts-content">N/A</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 *ngIf="con.phone!=null"><ion-icon name="call"></ion-icon><span class="contacts-content">{{con.phone}}</span></ion-col>
            <ion-col col-12 *ngIf="con.phone==null"><ion-icon name="call"></ion-icon><span class="contacts-content">N/A</span></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 *ngIf="con.mobile!=null"><ion-icon name="call"></ion-icon><span class="contacts-content">{{con.mobile}}</span></ion-col>
            <ion-col col-12 *ngIf="con.mobile==null"><ion-icon name="call"></ion-icon><span class="contacts-content">N/A</span></ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
