page-contacts {
  ion-content, ion-grid {
    display: block;
    background: #f1f1f1;
}
ion-grid {
  background: #f1f1f1; 
}
  .datatable-header {
    background: rgba(164, 192, 214,1);
    padding: 1em 0 0 1em;
  }

  .datatable-header-cell {
    font-size: 1.2em;
    font-weight: bold;
  }

  .datatable-body-row {
    padding: 0;
  }

  .datatable-row-even {
    background: rgba(240, 240, 240, 1);
  }

  .datatable-row-odd {
    background: rgba(255, 255, 255,1);
  }

  .datatable-body-cell {
    font-size: 1.2em;
    padding: 1em;
  }


  // Style footer appearance
  .datatable-footer {
    background: rgba(218, 226, 234,1);
    padding: 0 1em 0 1em;

    .pager {
      li {
        padding: 0 1em !important;

        a {
          color: rgba(68, 68, 68, 1);
          text-decoration: none;
        }
      }
    }
  }


  // Style rules for the footer pagination elements
  .datatable-icon-done-all:before {
    content: ">>";
  }

  .datatable-icon-left:before {
    content: "<";
  }

  .datatable-icon-right:before {
    content: ">";
  }

  .datatable-icon-skip:before {
    content: ">>";
  }

  .datatable-icon-prev:before {
    content: "<<";
  }


  ng2-smart-table table tr td, ng2-smart-table table tr th {
    padding: 1em!important;
    border: 1px solid dimgray!important;
    font-size:12px!important;
  }
  
  ng2-smart-table table tr:nth-child(even) {
    background: #f3f8f9!important;
  }
  ng2-smart-table table tr:nth-child(odd) {
    background: #FFF!important
  } 
  ng2-smart-filters{
    line-height: 40px!important;
  }
  
  input-filter input{
    line-height: 20px!important;
    padding: 8px!important;
    border: 1px solid dimgray;
      border-radius: 5px;
  }
  
  ng2-smart-table-title{
    font-size: 15px!important;
    color: #2b73bc;
  }
  .ng2-smart-pagination .ng2-smart-page-item {
    padding: 8px!important;
  }
  
  ng2-smart-table-pager{
    font-size: 20px!important;
  }
  .ng2-smart-filters {
    display: none !important;
  }
}