// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

ion-app {
    font-family: "BrandonGrotesque-Regular";
    border-top: 20px solid #009ada;
    border-bottom: 20px solid #009ada;
    background: #f1f1f1;
  }
  
  .toolbar-background {
    background: transparent !important;
    border: none !important;
  }
  ion-header {
    top: 30px;
  }
  .md .menu-inner {
    background: #f3f8f9;
  }
  
  .label-md {
    color: #616c71;
  }
  .list-md .item-block .item-inner {
    border-bottom: 1px solid #e5eaed;
  }
  .item-md {
    padding-left: 0px;
  }
  .label-md {
    margin: 15px 10px 15px 10px;
  }
  .bar-button-md {
    height: 35px;
  }
  ion-list {
    margin: 0px !important;
  }
  ion-item-divider {
    background: #e4e9ec !important;
  }
  .toolbar-title {
    font-size: 36px;
    text-align: center;
    font-family: "BrandonGrotesque-Regular";
    text-transform: uppercase;
  }
  // Defining Fonts for App
  @font-face {
    font-family: BrandonGrotesque-Bold;
    src: url(../assets/fonts/BrandonGrotesque-Bold.otf);
  }
  
  @font-face {
    font-family: BrandonGrotesque-Medium;
    src: url(../assets/fonts/BrandonGrotesque-Medium.otf);
  }
  @font-face {
    font-family: BrandonGrotesque-Regular;
    src: url(../assets/fonts/BrandonGrotesque-Regular.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Bd;
    src: url(../assets/fonts/HelveticaNeueLTStd-Bd.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Cn;
    src: url(../assets/fonts/HelveticaNeueLTStd-Cn.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Md;
    src: url(../assets/fonts/HelveticaNeueLTStd-Mdtitle.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Roman;
    src: url(../assets/fonts/HelveticaNeueLTStd-Roman.otf);
  }
    .menu-inner {
      background: #f3f8f9 !important;
    }
    .menu-inner .content {
      background: #f3f8f9 !important;
    }
    .item-block {
      font-family: "HelveticaNeueLTStd-Roman";
      text-transform: capitalize;
      color: #616c71;
      font-size: 16px;
      border-bottom: 0.55px solid #e5eaed;
      background: #f3f8f9 !important;
      padding: 0px !important;
    }
    .item-block .item-inner {
      padding-left: 15px;
    }
    .menu-icon {
      width: 31px;
      height: 31px;
      vertical-align: middle;
      background: transparent !important;
    }
    .menu-icon img {
      display: inline-block !important;
    }
    .text-menu-btn {
      position: absolute;
      top: 20px;
      left: 65px;
    }
    .profile-section {
      background: #fafafd !important;
      padding: 15px 0px !important;
    }
    .profile-section .item-inner {
      border: none !important;
    }
  
    .profile-image{
      width: 53px;
      height: 53px;
      background: transparent;
    }
    
  
    .username {
      position: absolute;
      top: 40px;
      left: 80px;
      color: #616d72;
      font-size: 16px !important;
      text-transform: uppercase;
      font-family: "BrandonGrotesque-Medium";
    }
    .instance {
      position: absolute;
      top: 58px;
      left: 80px;
      font-size: 14px;
      font-family: "BrandonGrotesque-Medium";
    }
    .toolbar-background{
      border: 1px solid gainsboro!important;
    }
    
    .toolbar-ios{
      min-height: 75px!important;
    }
    
    .subheader-icon-txt{
      display: inline-block;
      vertical-align: super;
      font-size: 20px;
      margin-left: 5px;
    }

    .contact-name {
      font-family: "BrandonGrotesque-Bold";
      font-size: 22px;
    }

    .contacts-content{
      padding-left: 10px;
      font-size: 80%;
      vertical-align: text-top;
    }
    
    ion-header{
      top:0px!important;
    }
    
    ion-card {
      min-height: 180px!important;
    }

    .card p {
      min-height: 15px;
    }
    
    .filter-input{
      border: 1px solid #009ada!important;
      border-radius: 10px;
    }
    
    .inline-label {
      display: inline-block;
      vertical-align: bottom;
    }
    
    
    .search-filter{
      border-radius: 10px;
      border: 2px solid gainsboro;
    }
    
    
    .search-btn {
      padding: 20px!important;
      height: 45px!important;
      font-size: 16px!important;
      width: 165px!important;
    }
    
    .center{
      margin: 0 auto;
      display: block;
    }

    .toolbar-background{
      border: 1px solid gainsboro!important;
    }
    
    .toolbar-ios{
      min-height: 75px!important;
    }
    
    .subheader-icon-txt{
      display: inline-block;
      vertical-align: top;
      margin-top: 16px;
      font-size: 20px;
      margin-left: 5px;
    }
    .button-round-ios {
      width: 55px;
      height: 55px;
    }
    .card-header-md {
      margin-bottom: -10px!important;
    }

    ng2-smart-table table tr td, ng2-smart-table table tr th {

      padding: 1em!important;
      border: 1px solid dimgray!important;
      font-size:12px!important;
    }
    
    ng2-smart-table table tr:nth-child(even) {
      background: #f3f8f9!important;
    }
    ng2-smart-table table tr:nth-child(odd) {
      background: #FFF!important
    } 
    ng2-smart-filters{
      line-height: 40px!important;
    }
    
    input-filter input{
      line-height: 20px!important;
      padding: 8px!important;
      border: 1px solid dimgray;
      border-radius: 5px;
    }
    
    ng2-smart-table-title{
      font-size: 15px!important;
      color: #2b73bc;
    }
    .ng2-smart-pagination .ng2-smart-page-item {
      padding: 8px!important;
    }
    
    ng2-smart-table-pager{
      font-size: 17px!important;
    }
    
    .close-btn{
      margin-left: 97%;
        font-size: 40px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
    .slider{
      background: #f3f8f9;
        border-top: 2px solid #009ada;
    }

    .contact-name-detail{
      background: #f3f8f9;
        min-height: 100px;
        margin-top: 8px;
    }
    
    ion-label[fixed]{
      min-width: 130px!important;
    }
    
    .contact-name-icon{
      vertical-align: bottom;
      width: 70px;
      margin-top: 5px;
      margin-right: 10px;
      margin-left: 10px;
    }
    
    .contact-related-btn{
      border-left: 1px solid!important;
      border-right: 1px solid!important;
      min-height: 60px;
      margin-bottom: 12px;
    }
    
    .contact-related-item-icon{
        margin-right: 5px;
        vertical-align: text-bottom;
        margin-left: 20px;
    }
    
    .contact-related-heading{
      position: absolute;
        left: 0;
    }
    
    .contact-related-arrows{
      position: absolute;
        left: 95%;
    }
    
    super-tabs-toolbar > ion-toolbar.toolbar .tab-buttons-container .tab-buttons super-tab-button.title-only .title {
      line-height: 48px;
      font-size: 20px;
    }