// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-app {
    font-family: "BrandonGrotesque-Regular";
    border-top: 10px solid #009ada;
    border-bottom: 10px solid #009ada;
  }
  .toolbar-background {
    background: transparent !important;
    border: none !important;
  }
  ion-header {
    top: 30px;
  }
  .md .menu-inner {
    background: #f3f8f9;
  }
  
  .label-md {
    color: #616c71;
  }
  .list-md .item-block .item-inner {
    border-bottom: 1px solid #e5eaed;
  }
  .item-md {
    padding-left: 0px;
  }
  .label-md {
    margin: 15px 10px 15px 10px;
  }
  .bar-button-md {
    height: 35px;
  }
  ion-list {
    margin: 0px !important;
  }
  ion-item-divider {
    background: #e4e9ec !important;
  }
  .toolbar-title {
    font-size: 36px;
    text-align: center;
    font-family: "BrandonGrotesque-Regular";
    text-transform: uppercase;
  }
  // Defining Fonts for App
  @font-face {
    font-family: BrandonGrotesque-Bold;
    src: url(../assets/fonts/BrandonGrotesque-Bold.otf);
  }
  
  @font-face {
    font-family: BrandonGrotesque-Medium;
    src: url(../assets/fonts/BrandonGrotesque-Medium.otf);
  }
  @font-face {
    font-family: BrandonGrotesque-Regular;
    src: url(../assets/fonts/BrandonGrotesque-Regular.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Bd;
    src: url(../assets/fonts/HelveticaNeueLTStd-Bd.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Cn;
    src: url(../assets/fonts/HelveticaNeueLTStd-Cn.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Md;
    src: url(../assets/fonts/HelveticaNeueLTStd-Mdtitle.otf);
  }
  
  @font-face {
    font-family: HelveticaNeueLTStd-Roman;
    src: url(../assets/fonts/HelveticaNeueLTStd-Roman.otf);
  }
    .menu-inner {
      background: #f3f8f9 !important;
    }
    .menu-inner .content {
      background: #f3f8f9 !important;
    }
    .item-block {
      font-family: "HelveticaNeueLTStd-Roman";
      text-transform: capitalize;
      color: #616c71;
      font-size: 16px;
      border-bottom: 0.55px solid #e5eaed;
      background: #f3f8f9 !important;
      padding: 0px !important;
    }
    .item-block .item-inner {
      padding-left: 15px;
    }
    .menu-icon {
      width: 31px;
      height: 31px;
      vertical-align: middle;
      background: transparent !important;
    }
    .text-menu-btn {
      position: absolute;
      top: 17px;
      left: 60px;
    }
    .profile-section {
      background: #fafafd !important;
      padding: 15px 0px !important;
    }
    .profile-section .item-inner {
      border: none !important;
    }
  
    .profile-image{
      width: 53px;
      height: 53px;
      background: transparent;
    }
  
    .username {
      position: absolute;
      top: 40px;
      left: 80px;
      color: #616d72;
      font-size: 16px !important;
      text-transform: uppercase;
      font-family: "BrandonGrotesque-Medium";
    }
    .instance {
      position: absolute;
      top: 58px;
      left: 80px;
      font-size: 14px;
      font-family: "BrandonGrotesque-Medium";
    }